<div id="blue">
	<div class="container">
	<div class="row">
		<h3>{THEME_PAGETITLE}</h3>
		{ALERTS} 
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /blue -->
{SETSTYLE=none}
<div class="container mtb">
	<div class="row">  
		{SETSTYLE=none} 
		{---}
	</div><! --/row -->
</div><! --/container -->
<div class="container mtb">
	<div class="row centered">
	{MENU=1}
	 	</div><! --/row -->
</div><! --/container -->
<div id="twrap">  <! --testimonials -->
	<div class="container centered">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
			{SETSTYLE=none}
			{MENU=3} 
			</div>
		</div><! --/row -->
	</div><! --/container -->
</div><! --/twrap -->
<div id="cwrap">  <! --clients -->
		<div class="container">
			<div class="row centered">
			{SETSTYLE=portfolio}
			{MENU=4}
		</div><! --/row -->
	</div><! --/container -->
</div><! --/twrap -->