body {text-align: center; margin: 0; font-family: Verdana,Arial,Helvetica,Sans-serif; font-size: 12px;}
ul, h1, h2, h3, h4, h5, form {padding: 0; margin: 0}
a:link, a:active, a:visited {outline: none; color: #0054a6; text-decoration: none; /*background: transparent*/}
a:hover {color: #063c6d; text-decoration: underline;}
img { border: 0 none; }
#container {text-align: left;   background: white;}
#headcont { }


h1.dtitle { position: relative; color: #206099; font-size: 22px; margin-top: 20px; font-weight: normal}
h2.dtitle { clear: both;   color: #206099; font-size: 16px; margin: 5px 0 0 20px; font-weight: normal; }



#rtmenu {float: right; padding: 15px 15px 15px 0; color: white}
#rtmenu a {color: white}

#bodybar {width: 100%;}
#bodycont { margin: 5px auto 0;}
#menubar {background: #0054a6; border-bottom: 5px #3EA9F6 solid;  border-radius: 0px; border-top: 5px #DDDDDD solid; }
#fbodycont {width: 95%; margin: 5px auto 0; background-color:#f5f4f4; border: 1px solid #e8e8e8;}
#fmenubar {  background: #0054a6; border-bottom: 5px #3EA9F6 solid;}
#fmenucont {color: white; padding: 10px 0 10px 20px;   }
#fmenucont a {color: white}
#footbar { }
#footcont {text-align: center; padding-top: 20px; height: 58px; width: 100%; margin: auto;}
#footcont .copy { text-align: right; padding: 10px 15px 0 15px; font-size: 80%;}

#wrap {  background-color: white;  ; }
#onewrap { float: left; background-color: white; width: 100%; }

#leftsidecont {  }
#leftsidecont ul {margin: 0; padding: 10px 0px 10px 0px; list-style: none;}
#leftsidecont ul li {width: auto; border-bottom: 2px dotted #d6dee6}
#leftsidecont ul li a {padding: 5px 5px 5px 13px; font-size: 12px; color: #003d78; width: auto; display: block; background: url(images/bullet3.gif) no-repeat left 9px;}
#leftsidecont ul li a:hover {color: #3da7f4;}
#leftsidecont h2 {padding: 8px 0 15px 10px; color: white; font-size: 12px; background: url(images/barbg.gif) repeat-x left top;}
/*#leftsidecont h2 a{ color: white;}    */

#leftsidecontone {   width: 25%; min-width: 200px; }
#leftsidecontone ul {margin: 0; padding: 10px 0px 10px 0px; list-style: none;}
#leftsidecontone ul li {width: auto; border-bottom: 2px dotted #d6dee6}
#leftsidecontone ul li a {padding: 5px 5px 5px 13px; font-size: 12px; color: #003d78; width: auto; display: block; background: url(images/bullet3.gif) no-repeat left 9px;}
#leftsidecontone ul li a:hover {color: #3da7f4;}
#leftsidecontone h2 {padding: 8px 0 15px 10px; color: white; font-size: 12px; background: url(images/barbg.gif) repeat-x left top;}
#leftsidecontone h2 a{ color: white;}

#maincontone { padding: 0px 10px 10px 0px; float: right; width: 73%; border: 1px solid #e8e8e8; background: #f5f4f4 url(images/bodyleft.gif) no-repeat left top}

#maincont { padding: 0px 10px 10px 0px;  border: 1px solid #e8e8e8; background: #f5f4f4 url(images/bodyleft.gif) no-repeat left top}
.padmaincont {width: auto; padding: 10px 10px 0 10px;}

.newscont img { float: left; margin: 0 5px 3px 0; border: 0 none; }

#sidecont { }
#sidecont ul {margin: 0; padding: 10px 0px 10px 0px; list-style: none;}
#sidecont ul li {width: auto; border-bottom: 2px dotted #d6dee6}
#sidecont ul li a {padding: 5px 5px 5px 13px; font-size: 12px; color: #003d78; width: auto; display: block; background: url(images/bullet3.gif) no-repeat left 9px;}
#sidecont ul li a:hover {color: #3da7f4;}
.insidebox {padding: 0 15px 15px 15px}
.innerside {padding: 3px 3px 3px 3px; border: 1px solid #e5e5e5; background: #f9f8f8; margin-bottom: 5px;}
#sidecont h2 {padding: 8px 0 15px 10px; color: white; font-size: 12px; background: url(images/barbg.gif) repeat-x left top;}
#sidecont h2 a{ color: white;}

.clearit {clear: both; height: 5px}

.dirtitle {margin: 0; padding: 0; font-size: 11px;}
.dirtitle a:link, .dirtitle a:visited, .dirtitle a:active {padding: 0 0 0 12px; font-size: 11px; margin: 0; background: url(images/bullet1.gif) no-repeat left 2px}
.dirsubtitle {margin: 0; padding: 0; font-size: 11px;}
.dirsubtitle a:link, .dirsubtitle a:visited, .dirsubtitle a:active {padding: 0 0 0 12px; font-size: 11px; margin: 0; background: url(images/bullet1.gif) no-repeat left 2px}
td {vertical-align: top; padding: 5px;}
.subcats {margin: 0 0 0 18px; padding: 0; font-size: 10px; height: 80px;}
.subcats a:link, .subcats a:active, .subcats a:visited {padding: 0 0 3px 10px; margin: 8px 0 0 0; display: block; color: #666; text-decoration: none; background: url(images/bullet2.gif) no-repeat left 4px; border-bottom: 1px dotted #d2d1d1}
.subcats a:hover {color: #063c6d; text-decoration: underline;}
table {width: 100%;}
.count {color: #206099; font-size: 12px; font-weight: bold;}


p.titlelink {font-weight: bold; font-size: 11px; padding:0; margin: 0}

p.urllink {margin: 0; padding: 0; color: #818181}
.urlfeature {color: #004c96}
.flbar {height: 24px; color: white; display: block; font-size: 12px; font-weight: bold; padding: 8px 10px 0 20px; background: #0054a5}
.flinbar {position: relative; background: #3da7f4; padding: 15px 20px;}
.lbar {height: 24px; color: white; display: block; font-size: 12px; font-weight: bold; padding: 8px 10px 0 20px; background: #818181;}
.rlinbar {position: relative; background: #3d3d3d; padding: 15px 20px;}
.infeature {margin: 0; background: #fcfcfc; border: 5px solid #3da7f4}
.infeature a {color: #004c96}
.ohead {color: #004c96; font-size: 12px; font-weight: bold}
.ohead a{color: #0054a5; font-size: 11px}

.inregular {margin: 0; background: #f9f9f9;  border: 5px solid #3d3d3d;}
.inregular a {color: #303030}
.titlelink a {color: #0054a5}

.featureline {font-size: 1px; margin: 0 20px 0 20px; width: auto; height: 1px; border-bottom: 1px solid #c4e19d}
.regularline {font-size: 1px; margin: 0 20px 0 20px; width: auto; height: 1px; border-bottom: 1px solid #d6d6d6}

div.pr {font-size: 8pt; color: #0054a5; float: left; margin-right: 5px;}
div.prg {width: 80px; border: 1px solid #8dc63f; height: 3px; font-size: 1px;}
div.prb {background: #8dc63f; height: 3px; font-size: 1px;}
.standard {padding: 0 20px 0;}
.featured {padding: 0 20px 0;}


#subcatbar {margin-left: 10px; border-bottom: 2px dotted #DDD; border-top: 2px dotted #DDD; margin-bottom: 10px}
#subcatbar .subti {margin: 0; padding: 5px 5px 10px 0}
#subcatbar a{color: #3d3d3d;}
#subcatbar a:hover {color: #355779;}
.emptycat {font-size: 1px; margin: 2px 0 0 0; border-top: 1px dotted #d2d1d1; padding: 0; height: 2px;}
.subdesc {margin: 0 0 10px 20px; color: #9B9B9B}
#links {margin: 20px 0;}
#links p {margin: 0 0 0 0;}
.rhb1 {width: 100%; background: url(images/righthbar.gif) no-repeat right top}
.hbar {color: white; display: block; font-size: 12px; font-weight: bold; padding: 8px 10px 8px; background: #003d79; border: 1px solid #e8e8e8}

.incont2 {background: #fafafa;}
.incont3 {padding: 10px; background: #3da7f4;  border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8}
.incont3 .ohead {color: white}
.label {color: #3d3d3d; font-weight: bold; text-align: right; padding: 10px; width: 200px}
.semicolon {text-align: left; width: 10px; padding: 10px}
.smallDesc {padding: 10px}
.detailout {background: #e2ebf3; padding: 10px}
.smallDesc a{color: #4B4B4B;}
.smallDesc a:hover{color: #055618;}
.dlist a{font-weight: bold}
.dlist a{color: #0072bc;}
.dlist a:hover{color: #0054a6;}

input.text {height: 18px; color: #000000; border: 1px solid #E1E1E1;}
textarea.text {font-size: 8pt; border: 1px solid #E1E1E1;}
select {height: 18px; font-size: 8pt; border: 1px solid #E1E1E1;}
.bs {font-weight: bold; width: 85%; color: white}
.olinfo {margin:0 0 0 10px; padding: 0;}
.olinfo li {margin: 10px}
#submitinfo {padding: 15px;}

h3 {color: #0054a6; font-size: 16px; padding: 10px 0;     font-weight: bold;}
h3 a:hover { text-decoration: none; }
.tophtit {}
.linkdesc {color: #818181}
.elsetitle {margin: 0 0 5px 0; padding: 0 0 10px 20px; border-bottom: 2px dotted #DDD}
.elsetitle a{color: #3d3d3d;}
.hometoptitle {border-bottom: 2px dotted #DDD}
.hpnote {float: left;  color: #7a7a7a; font-size: 11px;}

.tbox {
	width: auto;
	padding : 2px;
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#F9F9F9;
}


#e107_submitnews_item {
  width: 440px;
}
.tbox.chatbox {
	width: 90%;
	padding : 2px;
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#F9F9F9;
	margin: 10px auto;
}
.npdropdown {
  width: auto;
	margin: 0 0 0px 0;
	padding: 2px;
	height: auto;
	text-align: left;
}
.tbox.comment.subject {
  width: 98%; 
  background-color: transparent;
  border: 0px none #b6e4fb;
	padding: 2px;
	margin-top: 3px;
  }

#comment.tbox.comment {
  width: 98%; 
	padding : 2px;
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#F9F9F9;
}

#contactForm textarea.tbox {
  width: auto; 
	padding : 2px;
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#F9F9F9;
}

input#helpb.helpbox {
  float: left;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
}
#commentform .helpbox{
  width: 98%; 
	border-collapse: collapse;
	padding: 1px;
}
.helpbox {
  width: 98%; 
	background-color: transparent;
	border: 0px none;
	border-collapse: collapse;
	padding: 3px;
}
.indent {
  background: #070707;
	border:1px solid #F2F2F2;
	color:#A6A6A6;
	background-color:#F9F9F9;
	border-left:3px solid #F2F2F2;
  padding: 5px 15px;
  margin: 10px 10px 5px 15px;
  font-style: italic;
} 
.button {
	color:#0054a6;
	font-weight: bold;
  padding: 2px ;
  margin: 2px ;
}
.button:hover {
	color:#063c6d;
}

.nextprev{
	border: 0px solid #F1F1F1;
	border-collapse: collapse;
	padding: 3px;
	text-align: center;
	width: auto;
	color: #0054a6;
	font-size: 105%;
	font-weight: bold;
}

.smalltext {
	font-size: 90%;
	font-weight: normal;
}
.smallblacktext {
	font-size: 90%;
	font-weight: bold;
}
.defaulttext, .caption, .bodytable, .mediumtext
{
	font-size: 95%;
	font-weight: normal;
}
.fborder {
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	padding: 3px;
	margin-top: 3px;
	text-align: left;
}

/* forum parent headers, forum captions */
.forumheader {
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
  padding: 3px;
	vertical-align: middle;
	text-align: left;
	font-size: 110%;
	font-weight: bold;
}
.userheader {
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	padding: 3px;
	font-size: 120%;
	vertical-align: middle;
	text-align: left;
}
.nforumcaption{
	border:1px solid #F2F2F2;
	color:#A6A6A6;
	background-color:#F9F9F9;
	padding: 3px;
	font-size: 110%;
	text-align: left;
	font-weight: bold;
}
.finfobar{
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	padding: 3px;
	font-size: 95%;
	text-align: left;
}

/* two left columns */
.forumheader2{
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	padding: 3px;
	font-size: 99%;
	text-align: left;
}

/* all the rest of the forum tables */
.forumheader3{
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	padding: 3px;
	font-size: 99%;
	text-align: left;
}

.forumborder {
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	vertical-align: top;
	font-size: 99%;
	text-align: left;
}

/* where it says forum, information and all tables across */
.fcaption {
	border: 1px solid #e8e8e8;
	color:#444;
	background-color:#f5f4f4;
	padding: 3px;
	font-size: 130%;
	text-align: left;
	line-height: 40px;
	font-weight: bold;
}

.fcaption a {
	padding-right:4px;
	text-decoration: underline;
}

.fcaption a:hover{
	text-decoration: none;
}

